.bg-Transparency {
    background-color: transparent !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(to bottom, #1f5945, #24724b, #419b76);
    min-height: 98vh;
    /* fit to full page */
}

body::before,
body::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
    pointer-events: none;
}

body::before {
    width: 500px;
    height: 300px;
    top: 10%;
    left: 5%;
    background-color: rgba(8, 199, 72, 0.2);
}

body::after {
    width: 400px;
    height: 400px;
    bottom: 5%;
    right: 5%;
    background-color: rgba(43, 180, 168, 0.15);
}





/* Q&A form row gap*/
#Qform {
    display: grid;
    row-gap: 12px;
}

#Qform-col1 {
    display: flex !important;
    flex-direction: row !important;
    height: 40px !important;

}

#additional-note {
    height: 80px !important;
}

.container-table {
    /* Flexbox for centering content */
    /* display: flex; */
    /* flex-direction: column; */
    padding-top: 90px;
    /* justify-content: center; */
    /* align-items: center;  */

}

.box{
    width: 600px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(195, 209, 205);
    border-radius: 8px;
    padding: 40px;
    padding-left: 50px;
}